{% extends 'layout.html' %} {% block body %}

<div style="margin-top:100px;">
  <div class="container">
      
    <H4>All Mentees Under {{mentor['fname']}} {{mentor['lname']}} - <a
      class="btn btn-sm btn-primary float-right"
      href="{{url_for('download_status', email=all_mentees[0].mentor_email)}}"
      >Download All Mentee Status</a
    ></H4>
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Class</th>
          <th scope="col">Status</th>
          <th scope="col">Profile</th>
          <th scope="col">Download</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for mentee in all_mentees %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{mentee.fname}}. {{mentee.mname[0]}}. {{mentee.lname}}</td>
          <td>{{mentee.year}}</td>
          <td>{{mentee.status}}</td>
            </td>
            <td>
              <a
                class="btn btn-sm btn-primary"
                href="{{url_for('view_profile',email=mentee.email)}}"
                >View profile</a
              >
            </td>
            <td>
                <a
                  class="btn btn-sm btn-primary"
                  href="{{url_for('view_profile',email=mentee.email,option='download')}}"
                  >Download</a
                >
              </td>
            <td>
              <a
                  class="btn btn-sm btn-danger"
                  href="{{url_for('delete_mentee',email=mentee.email)}}"
                  >Delete</a
                >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>

{% endblock %}
